@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.t-light {
    --bg: #f3f0f0;
    --brand-color: #FF6F61;
    --brand-complement: #2d4c77;
    --header-color: #1d314c;
    --body-color: #443d3d;
    --link-color: #FF6F61;
    --link-hover: #61a3ff;
    --link-teal: #2e747a;
    --link-teal-hover: var(--brand-complement);
}

.t-dark {
    --bg: #211e1e;
    --brand-color: #FF6F61;
    --header-color: #dad0cf;
    --body-color: #cdc0bf;
    --link-hover: #57dbe6;
    --link-teal: #4dc0cb;
    --link-teal-hover: #61a3ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg);
    color: var(--body-color);
    font-family: 'Roboto', sans-serif;
    /* border: 8px solid #ff9d94; */
    padding: 0 15vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Markazi Text', serif;
}

p {
    font-size: 1.4em;
}
/* ☀ */
a {
    color: unset;
    /* color: var(--link-teal); */
    text-decoration: underline;
    text-decoration-color: var(--brand-color);
    background-image: linear-gradient(var(--link-hover) 0 0);
    background-position: 0 100%;
    background-size: 0% 2px;
    background-repeat: no-repeat;
    transition:
        background-size 0.3s,
        background-position 0s 0.3s;
}

a:hover {
    /* color: var(--link-teal-hover); */
    background-position: 100% 100%;
    background-size: 100% 2px;
}

#intro-l1 {
    font-size: 7em;
    font-weight: 200;
    line-height: 0.95;
    letter-spacing: -0.02em;
    margin-top: 2em;
    margin-bottom: 0.15em;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 2.5vh 10vw;
    }

    #intro-l1 {
        font-size: 5em;
        margin-top: 1.5em;
        margin-bottom: 0.4em;
    }
}